* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.bg {
    background: url(./images/bg.webp);

    height: 50em;
    max-width: 1800px;
   
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
}

/* nav-bar */

header {
    max-width: 100vw;
    min-height: 5em;
    color: white;
}
.menuIcon{
    display: none;
}
header .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 80px;
    background-color: transparent;
    background-color: black;

}

header a {
    color: white;
    text-decoration: none;
}

header .logo {
    font-size: 2.2rem;
}

header .main nav {
    width: 60%;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.2em;
}

nav a:hover {
    color: rgb(126, 115, 115);


}

/* hero-section start */
 .hero{
    max-width: 1800px;
    margin: 0 auto;
 } 
.hero .main {

    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;


}

 .img {
    width :100%;
    height: 70%;
}

 .img img {
    width: 100%;
    min-height: 400px;


}

.animate__animated {
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-duration: 1s;

}
.hero{
    max-width: 1900px;
    margin: 0 auto;

}
.hero .content {

    height: 60%;
    display: flex;
    justify-content: space-evenly;
    gap: 5em;
    flex-direction: column;
    text-transform: capitalize;
    padding: 5em;
}

.hero h1 {
    font-size: 2.3em;
    padding-top: 3em;
}

.hero p {
    line-height: 1.3em;
    word-spacing: 1.3px;
    letter-spacing: 1.3px;

}

.btns button {

    padding: 1em 2.7em;
    background-color: #ae8957;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
}

.btns .btn-1 {
    background-color: #ae8957;
}

.btn-1:hover {
    box-shadow: 3px 3px 2px #83591e;

}

button.btn2 {
    background-color: transparent;
    color: #ae8957;
    border: 1px solid #ae8957;

}

.btns .btn2:hover {
    background-color: #ae8957;
    color: white;
}

/* hero-section end */

/* second-sec start */
.second-sec{
    max-width: 1600px;
    margin: 0 auto;
}
.head {
    padding-top: 4em;
    text-align: center;
    text-transform: capitalize;
}

.head h1 {
    font-size: 46px;
    text-shadow: 2px 2px 2px #a16e26;
}

.head p {
    font-size: 16px;
    padding-top: 0.5em;
    ;
}

.second-sec-content {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 55% 45%;

    /* align-items: center;
justify-content: center; */

}

.one {
    grid-template-columns: repeat(2, 1fr);
    padding: 4em;
}

.second-sec-content .img {
    width: 90%;
    height: 70px;
}

.img img {
    width: 90%;
    min-height: 400px;

}

.side-section {
    min-height: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 2em;
}

.side-section .para {
    line-height: 27px;
    font-size: 1.4em;
    margin-top: 2em;


}

.side-section p {
    color: #938e8e;


}

.side-section h4 {
    text-transform: capitalize;
    font-size: 1em;

}

/* second-sec end */

/* about section start */
.second-sec .head {

    text-align: center;
    text-transform: capitalize;
}

.hrads p {
    padding-top: 1em;
}

.second-sec .head p {
    width: 100%;
    font-size: 16px;


}

.about-both {
    max-width: 1600px;
 margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-content {

    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 4em;
    /* padding-top: 2em; */

}

.img {
    width: 100%;
    height: 70%;
}

.img img {
    width: 100%;
    min-height: 400px;
    filter: drop-shadow(13px 10px 12px #6d4814);
}

.about-content h1 {
    font-size: 2.5em;
    text-transform: capitalize;
    color: #a16e26;
}

.about-content p {
    width: 60%;
    font-size: 1.3em;
    line-height: 29px;
    color: #938e8e;
    margin-top: 1em;
}

.about {
    margin-top: 2em;
}

/*about end */
.background {
    max-width: 1600px;
    margin: 0 auto;
    min-height: 300px;
    padding: 2em 0em;
    background: url(./images/backgrounf.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.background-one {
    text-align: center;
    padding: 1.5em 0em;
    text-transform: capitalize;
    color: white;

}

.background-one h2 {
    font-size: 44px;
    ;
}

.background-one p {
    font-weight: bold;
    color: #ada9a9;
}

.rating {

    display: flex;
    justify-content: space-evenly;
    padding: 2em 0em;

}

.item {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 200;
    text-transform: capitalize;

}

.item i {
    font-size: 3.5em;
    padding-left: 0.6em;
}

.item b {
    font-size: 5em;
}

.item span {
    font-size: 1.5em;
}

/* about4 */
.about4 {
    max-width: 1500px;
    margin: 0 auto;
    text-transform: capitalize;
    min-height: 300px;
    padding: 2em 0em;
    text-align: center;
}

.about4 h1 {
    text-transform: uppercase;
    padding: 1em 0em;
    color: #a16e26;
    font-size: 2.4em;
}

.about4 p {
    line-height: 24px;
    color: #9d9b9b;
}

/* footer start */
footer .main {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

/* about 5 */
.second {
    background-color: black;
}

.two {
    color: white;
}

.two h1 {
    text-shadow: 2px 3px 3px #d1933b;
}

.another h4 {
    color: white;
}

.back-two {
    text-align: center;
}

.back-two p {
    color: #e5e2e2;
    padding-top: 6px;
}

.btn-1 {
    margin-top: 2em;
    padding: 1em 2.7em;
    background-color: #ae8957;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
}

.btn-1:hover {
    background-color: transparent;
    color: #e8e6e3;
    border: 1px solid #ae8957;
}

/* gallery */
.gallery {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 5em 2em;

}

.octa-wrap {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    overflow: hidden;


}

.octagon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transform: rotate(45deg);
    border: 5px solid black;
    transition: transform 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px
}

.octa-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(-45deg);
}

.contact-form {
    max-width:1600px;
    margin: 0 auto;
    min-height: 80vh;
    background: url(./images/bg1.avif) center no-repeat;
    background-size: cover;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2em;
}

.form {
    padding: 2em;
    background: black;
    height: 500px;
    width: 100%;

}

.form h2 {
    color: white;
    text-transform: capitalize;
    font-size: 1.5em;
    padding: 1em 0;
    margin-left: 0.6em;
}

.form input,
textarea {
    background-color: transparent;
    width: 90%;
    border: none;
    padding: 1em 0;
    color: #938e8e;
    border-bottom: 1px solid #ffffffce;
    ;

}

.second-form {
    height: 480px;
    width: 100%;

    background-color: white;
    padding: 2em;
    padding-top: 3em;
}

.second-form h4 {
    font-size: 1.9em;
}

.second-form p {
    font-size: small;
    color: #6f6f6f;
    padding: 0.5em;
    line-height: 18px;

}

footer .main-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: black;
    padding: 1em 2em;
}

footer .main-box .footer-section h3 {
    font-size: 2em;
    color: white;
    padding: 1rem 0em
}
footer .main-box .footer-section a{
    text-decoration: none;
   display: block;
    font-size: 1em;
    color: white;
    padding: 1rem 0;
   
}
  footer .main-box .footer-section a:hover i{
padding-right: 2rem;
  } 
footer .main-box .footer-section a i {
        padding-right: 0.5rem;
    color: rgb(62, 181, 62);
}
.last{
      padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.8rem;
  color: white;
  border-top: 0.1rem solid rgba(0, 0, 0, 1);
  background-color: black;
}

@media (max-width: 965px) {
  .btns {
 display: flex;
    width: 300px;
  }
}
.hero{
  display: flex ;
  flex-direction: column;
}

@media (max-width: 850px) {
  .nav {
 position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4em;
    display: flex;
    transition: right 0.3s ease; 
   
  }

  .nav a {
    color: white;
    padding: 0.5em;
    padding-left: 1em;
    margin: 0.5em 0;
  }


  .menuIcon {
    display: block;
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
  }
.bg{
    width: 100%;
}
  .menuIcon:hover {
    color: rgb(81, 211, 81);
  }

  /*  HOME */
  .hero {
    min-height: 750px;
  }
  .hero .content {
    height: 75%;
    margin-left: 1em;
  }

  .content {
    grid-template-columns: 400px;
  }
}

@media (max-width: 750px) {
  .btns {
    width: 100%;
    gap: 1em;
    flex-direction: column;
  }
}

@media (max-width: 630px) {
  .hero {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 550px);
  }
  .about {
    grid-template-rows: repeat(2, auto);
  }
  .btns {
    flex-direction: row;
  }
  #movingImage3 {
    padding-bottom: 8em;
  }
  .item i {
    font-size: 2.2em;
  }
  .item b {
    font-size: 2.5em;
  }
  .item span {
    font-size: 1em;
  }
  .background h2 {
    font-size: 1.8em;
  }
  .background p {
    font-size: 0.9em;
  }
  .footer .last {
    font-size: 1.2rem;
  }
  
  
  
  
}

@media (max-width: 430px) {
  .logo {
    font-size: 2.1em;
  }
  h1 {
    font-size: 1.8em;
  }

  .row .content {
    margin: 1em;
    padding-top: 6em;
  }
  .btns {
    flex-direction: column;
  }
  h2 {
    font-size: 1.8em;
  }
  .item span {
    font-size: 0.8em;
  }

  .tabs {
    width: 250px;
  }
 
}

@media (max-width: 440px) {
  .contact {
    grid-template-columns: 100%;
    padding: 0;
  }
  .footer .last {
    font-size: 1rem;
  }
}

